/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.carousel {
    width: 70%;
    height: 600px;
    background-color: red;
    position: relative;
}

button {
    background-color: white;
    border: 1px solid black;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}

button > i {
    font-size: 2rem;
}

#button-previous,
#button-next {
    position: absolute;
}

#button-previous {
    left: 50%;
    top: 2%;
    transform: translate(-50%);
}

#button-next {
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
}